{% extends 'base.html' %}

{% block tag_menu %}
    {% for tag in tags %}
        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'tag' tagId=tag.id %}">{{ tag }}</a></li>
    {% endfor %}
{% endblock %}

{% block blog_content %}
    {% for post in posts_list %}
        <div class="article-info">
            <a href="{% url 'detail' id=post.id %}" class="sui-text-xxlarge sui-text-info">{{ post.article_title }}</a>
            <span class="sui-label label-success">{{ post.article_tag.all.0 }}</span>
            <span class="sui-label label-">{{ post.article_add_time }}</span>
            <hr>
        </div>
    {% endfor %}
{% endblock %}

{% block pagination %}
    <div class="pagination">
        <span class="step-links">
            {% if posts_list.has_previous %}
                <a href="?page={{ posts_list.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts_list.number }} of {{ posts_list.paginator.num_pages }}.
            </span>

            {% if posts_list.has_next %}
                <a href="?page={{ posts_list.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}